@charset "UTF-8";
@import url("html5reset-1.6.1.css");
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

/* ↓レイアウト↓ */

*{
    line-height:170%;
}

html{
    height:100vh;
}

body{
    color:#555;
    background-color:#edf2f8;
    font-family:"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    height:100%;
}

#map{
    height:70%;
}
  
.base{
    margin:0 auto;
    max-width:1200px;
    height:100%;
}

.header{
    padding:10px;
    margin:0px;
    text-align:center;
}

.footer{
    padding:10px;
    text-align:center;
}

.box{
    margin:0px 5px;
    background-color:#fff;
    padding:10px 10px;
    box-shadow: 3px 3px 4px -1px #999;
    height:100%;
}

img
{
	max-width:100% ;
	height:auto ;
}


/* ↓タグ↓ */

h1{
    font-size:125%;
    font-weight:bold;
}

h2{
    font-size:80%;
    font-weight:normal;
    margin:10px;
    color:#5a88bf;
}

p{
    text-align:left;
    margin:10px 0px;
    padding:5px;
    font-size:90%;
}

em{
    background: linear-gradient(transparent 60%, #fff799 60%);
    font-style:normal;
}

strong{
    font-weight:normal;
    text-decoration:underline;
    text-decoration-style:double;
    text-decoration-color:#ff9bb7;
}

small{
    font-size:70%;
}

big{
    font-size:130%;
}

ins{
    background-color:#00a0d9;
    color:#fff;
}

i{
    font-style:italic;
}

a:link{
    color:#00a0d9;
    text-decoration:none;
}

a:visited{
    color:#00a0d9;
    text-decoration:none;
}

a:hover{
    text-decoration:underline #ff9bb7;
}

h1 a:link{
    color:#555;
}

h1 a:visited{
    color:#555;
}

blockquote{
    position:relative;
    padding:10px 10px 10px 50px;
    box-sizing border-box;
    margin:15px;
    font-size:90%;
    border-radius: 8px;
    border-style:solid;
    border-width:1px;
    border-color:#00a0d9;
}

blockquote:before{
    display:inline-block;
    position:absolute;
    top:15px;
    left:15px;
    vertical-align: middle;
    content:'\00275e';
    color:#ccc;
    font-size:30px;
}

li{
    padding:5px;
    margin:0px 0px 0px 20px;
}

ul{
    margin:10px 0px;
}

ol{
    margin:10px 0px;
}

dl{
    padding-left:3px;
    margin:10px 0px;
}

dt{
    padding-left:5px;
}

dd{
    padding-left:10px;
}

address{
    font-size:75%;
}

cite{
    font-size:smaller;
}


/* ↓classタグ↓ */

.memo{
    background-color:#a4bddb;
    font-size:90%;
    padding:0px 10px;
    height:auto;
    overflow:auto;
    margin:5px 5px;
    color:#fff;
}

<<<<<<< HEAD
.img1{
    box-shadow:1px 1px 3px -1px #888;
}

.counter{
    font-family:,Arial;
}

.pagetop{
    position: fixed;
    bottom: 10px;
    right: 14px;
}
 
.pagetop a{
    display: block;
    text-decoration: none;
}
 
.pagetop:hover{
    opacity: 0.7 ;
}

.leaflet-tooltip.my-labels{
    background-color: #fff;
    border: transparent;
    box-shadow: none;
}
=======
>>>>>>> 2fb5d09fa22e19034fb3f8cb34742c8db865fe01
/*↓ディスプレイ580px以下用↓*/

@media screen and (max-width:580px) 

{
    
.base{
    width:auto;
    margin:0px 5px;
}

.box{
    margin:0px;
}

.work{
    width:auto;
    margin:0px;
    padding:0px;
}

.menu{
    font-size:90%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 6691bc0454a7c466c7c82e636eb9938e819d0b69
